@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

.menu-container {
  color: #fff;
  background-color: #599be7;  /* Blue */
  padding: 20px 0;
}

.menu {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.under-border{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  padding: 40px;
  background-color: #599be7;
  color: whitesmoke;
  font-size: 30px;
  align-items: center;
}

.menu-container {
  /* ... */
  display: flex;
  justify-content: space-evenly;
}


.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #f4f7fb;
  background-color: #edf2f5;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

.header {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content:center;
}

.textbox {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 5px ridge whitesmoke;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  width: 1100px;
  margin-top: 65px;
  background-color: #5995DA;
  font-size: 35px;
  border-radius: 25px;
}

.todo-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
  height: 60px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
}

.todo-item-name {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  width: 800px;
  margin: 0 50px;
  color: rgb(0, 0, 0);
  
  /* border: 1px solid black; */
}

.update {
  font-size: 22px;
  padding: 0 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.update:hover {
  background-color: forestgreen;
  color: whitesmoke;
  cursor: pointer;
}

.delete {
  font-size: 22px;
  padding: 0 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.delete:hover {
  background-color: red;
  color: whitesmoke;
  cursor: pointer;
}

.search-bar {
  display: flex;
  height: 30px;
  width: 10rem;
  justify-content: center;
}

.Search {
  display: flex;
  justify-content: center;
}

#update {
  height: 3rem;
  margin-top: 10px;
  width: 15rem;
  font-size: 25px;
}

#delete {
  height: 3rem;
  margin-top: 10px;
  width: 15rem;
  font-size: 25px;
}
#post{
  height: 3rem;
  margin-top: 10px;
  width: 15rem;
  font-size: 25px;
}

#post:hover{
  background-color: goldenrod;
  color: whitesmoke;
}

#GET{
  height: 3rem;
  margin-top: 10px;
  width: 15rem;
  font-size: 25px;
}
#GET:hover{
  background-color: blue;
  color: whitesmoke;
}

.textboox {
  height:10rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 44px;
  color: whitesmoke;
}


#input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 80px;
  font-size: 45px;
  border-color: black;
}

.date{
  font-size: 33px;
}

.user-name {
  font-size: 33px;
}



